<div class="container">
  <form *ngIf="editForm" [formGroup]="editForm" (ngSubmit)="updateUser(id)">
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="name" placeholder="name">
        <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="error">
          <div *ngIf="name?.errors?.['required']">
            <small class="erro">Name không được để trống</small>
          </div>
          <div *ngIf="name?.errors?.['minlength']">
            <small class="erro">Name không được ít hơn 3 kí tự</small>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="name?.errors?.['maxlength']">
      <small class="erro">Name không được nhiều hơn 20 kí tự</small>
    </div>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-6">
        <input type="email" class="form-control" id="inputEmail3" formControlName="email" placeholder="Email">
        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error">
          <ng-container *ngIf="email?.errors?.['required']">
            <small class="erro">Email không được để trống</small>
          </ng-container>
          <ng-container *ngIf="email?.errors?.['email']">
            <small class="erro">Email không đúng định dạng</small>
          </ng-container>
        </div>
      </div>
    </div>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Roles</legend>
        <div class="col-sm-10">
          <select name="" id="" formControlName="role">
            <ng-container *ngFor="let role of roles">
              <option value="{{role.id}}">
                {{role.name}}
              </option>
            </ng-container>
          </select>
          <div *ngIf="role?.invalid && (role?.dirty || role?.touched)" class="error">
            <div *ngIf="role?.errors?.['required']">
              <small class="erro">Role không được để trống</small>
            </div>
          </div>
        </div>
      </div>

    </fieldset>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </div>
  </form>
</div>
